doctype html
html
  head
    title= subject
  body
    h3 Hello, #{name},
    p We notice you recently login to your account.
    p If this was you, no further action is required.
    p Security is important to us, and we will inform you if we notice any unusual account activity.
    p Thank you.
