doctype html
html
  head
    title= subject
  body
    h3 Hello, #{name},
    p Kindly enter this code to complete your action:
    p
    h5 #{otp}
    p Thank you.
    p
    p If you don't want to use with this account, no problem. Let us know it’s not your account by reaching out to us and we’ll walk you through the quick process of removing your email address from this account.
