doctype html
html
  head
    title= subject
  body
    h3 Hello, #{name},
    p
    p A policy has been <strong>created</strong>. Kindly login to your dashboard to view this policy.
    p
    p
    p Thank you.
    p
